.sugestions{
    margin-right: 20px;
    margin-top: 30px;
}

.suggestions__title {
    color: grey;
    font-weight: bold;
}

.usernale__left{
    display: inline;
}

.username__info{
    display: flex;
    flex-direction: column;
}

.relation{
    color: grey;
    font-size: 12px;
}

.suggestion__username{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.follow__button{
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border: 0;
}

.follow__button{
    color: white;
    cursor: pointer;
}

.username{
    font-weight: 600;
    font-size: 14px;
}